# Large binary files
# (Wait, let's allow our trained models)
!models/best.pt
yolov8n.pt
runs/


# Video files
videos/
*.mp4

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# Local only documentation (NOT pushed to GitHub)
wiring_guide.md
